/* Обеспечиваем сайт на полный экран */
html,
body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8efef;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* Максимальная ширина контейнера */
    margin: 0 auto;
}

header {
    background-color: #f8efef;
    font-family: Snell Roundhand,
        cursive;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 38px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-family: Snell Roundhand,
        cursive;
    color: #000000;
    text-decoration: none;
    font-size: 28px;

}

section.gallery {
    padding: 50px 0;
    background-color: #f8efef;
    text-align: center;
}

.gallery-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-option {
    width: calc(60% - 20px);
    margin: 0 10px 20px 10px;
}

.gallery-option img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-option img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #f8efef;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
}
.social-link a {
margin: 0 10px;
}

.social-link p {
    margin: 5px o;
    font-size: 14px;
}



.social-links li {
    display: inline;
    margin-right: 50px;
}

.social-links li a {

    text-decoration: none;
}

.footertext
{
    font-family: Impact,
        fantasy;
        font-style: normal;
        font-weight: 600;
        color: #000000;
        text-decoration: none;
        font-size: 15px;
}
/* Адаптация под различные устройства */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .gallery-option {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-option {
        width: calc(100% - 20px);
    }
}