/* Обеспечиваем сайт на полный экран */
html,
body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* Максимальная ширина контейнера */
    margin: 0 auto;
}

header {
    background-color: #002f67;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section.gallery {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.gallery-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-option {
    width: calc(25% - 20px);
    margin: 0 10px 20px 10px;
}

.gallery-option img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-option img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #002f67;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    text-decoration: none;
    color: #fff;
}

/* Адаптация под различные устройства */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .gallery-option {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-option {
        width: calc(100% - 20px);
    }
}